# DATA VISUALISATION WORK

## Accessing Data with Pandas

In [1]:
import pandas as pd
df = pd.read_csv('parks.csv', index_col=['Park Code'])
df.head(3)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

## Accessing Rows

In [2]:
df.iloc[2]

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

## Pass data from data from dataframe index to loc method

In [3]:
df.loc['BADL']

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object